<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>508023735182-6o6svtmkbsunkd8st5f7gkfhmi0op3nn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.508023735182-6o6svtmkbsunkd8st5f7gkfhmi0op3nn</string>
	<key>API_KEY</key>
	<string>AIzaSyA8yCZ6T-oceGpAT8rC5hJVrdpNros90og</string>
	<key>GCM_SENDER_ID</key>
	<string>508023735182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yoonjong.eonggeum</string>
	<key>PROJECT_ID</key>
	<string>turtleproject-2021</string>
	<key>STORAGE_BUCKET</key>
	<string>turtleproject-2021.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508023735182:ios:6abb53f0f95eb51afe5adf</string>
</dict>
</plist>